In [1]:
import os

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier

In [2]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

# EDA

In [3]:
train_data = pd.read_csv('/kaggle/input/titanic/train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data = pd.read_csv('/kaggle/input/titanic/test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

We select the male or female, and if that survived or not, that is represented by 1 or 0, therefore we can add and get the rate of survivors by gender.

In [5]:
female_survivors = train_data.loc[train_data.Sex == 'female']['Survived']
female_survivors

1      1
2      1
3      1
8      1
9      1
      ..
880    1
882    0
885    0
887    1
888    0
Name: Survived, Length: 314, dtype: int64

In [6]:
rate_female_survivors = sum(female_survivors)/len(female_survivors)
rate_female_survivors

0.7420382165605095

In [7]:
male_survivors = train_data.loc[train_data.Sex == 'male']['Survived']
rate_male_survivors = sum(male_survivors)/len(male_survivors)
rate_male_survivors

0.18890814558058924

# Preprocessing

Getting the target, I separate it from the others variables.

In [8]:
y = train_data['Survived']

In [9]:
features = ['Pclass', 'Sex', 'SibSp', 'Parch']

# get_dummies: It obtains True or False in columns for any value in each feature from dataframe
X = pd.get_dummies(train_data[features])

# Apply the same to the test data
X_test = pd.get_dummies(test_data[features])

# Train model

In [10]:
model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=19)
model.fit(X, y)

RandomForestClassifier(max_depth=5, random_state=19)

# Predict

In [11]:
predictions = model.predict(X_test)

In [12]:
output = pd.DataFrame({'PassengerId': test_data.PassengerId,
                       'Survived': predictions})
output.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [13]:
output.to_csv('submission.csv', index=False)